mixin radio(options)
  div(class= options.class)
    label.radio
      input.radio__field(
        type="radio"
        name= options.name
        value= options.value
        checked= options.isChecked)

      .radio__title #{options.title}
