include ../like/like

mixin review(options)
  .review(class= options.class)
    .review__person
      img.review__photo(
        src= options.photo
        alt="")
      .review__name-and-date
        .review__name.heading.heading--level4 #{options.name}
        .review__date #{options.date}

    .review__like-and-text
      .review__like
        +like({
          name: `review-${options.id}`,
          likesCount: options.likesCount,
          isLiked: options.isLiked
        })
      .review__text #{options.text}
