mixin buttonPrimary(optionsBtnPri)
  +button({
    id: 'primary',
    class: optionsBtnPri.class,
    type: optionsBtnPri.type,
    title: optionsBtnPri.title,
    size: optionsBtnPri.size
  })

mixin buttonSecondary(optionsBtnSec)
  +button({
    id: 'secondary',
    class: optionsBtnSec.class,
    type: optionsBtnSec.type,
    title: optionsBtnSec.title,
    size: optionsBtnSec.size
  })

mixin buttonAction(optionsBtnAct)
  +button({
    id: 'action',
    class: optionsBtnAct.class,
    type: optionsBtnAct.type,
    title: optionsBtnAct.title,
    size: optionsBtnAct.size
  })

mixin buttonInline(optionsBtnInl)
  +button({
    id: 'inline',
    class: optionsBtnInl.class,
    type: optionsBtnInl.type,
    title: optionsBtnInl.title,
    size: optionsBtnInl.size
  })

mixin button(options)
  .btn(
    class= `btn--${options.id} ${options.class || ''}`)
    button(
      class= `btn--${options.id}__field`
      type= options.type || 'button')

    - const style = `btn--${options.id}__title btn--${options.size || 'normal'}-size`
    div(class= style)
      | #{options.title}

    if options.id === 'action'
      .btn--action__arrow.icon
