mixin textField(options)
  label.text-field(
    class= options.class)
    if options.title
      .text-field__title.heading.heading--level3 #{options.title}

    if options.caption
      .text-field__caption #{options.caption}

    input.text-field__field.js__text-field(
      name=options.name
      placeholder=options.placeholder
      value=options.value
      autofocus=options.autofocus
      inputmode=options.inputMode || 'text')

